# Ignorar a pasta de build
build/

# Ignorar a pasta virtualenv (venv)
venv/

# Ignorar o arquivo Ovend.txt
usarOvenv.txt

# Ignorar config.txt
config.txt

#Ignorar zip

instaladorBaseService.zip

# Ignorar arquivos de configuração
instalador.spec
updater.spec
valida_bkp.spec
instaladorBaseService.spec
launcher.spec

#aqruivos de teste
C:\Users\wagner.soares\Desktop\Develop - BaseService\Program Files (x86)MonitoramentoBKP
teste.spec
